/*
 * Stroubles Creek Web Tour
 * Page component CSS source code
 *
 * Author: Katrina Kosmides
 * Version: 1.0
 */

#infoTemplate {
    position: fixed;
    top: 10vh;
    left: 25vw;
    height: 80vh;
    width: 55vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-style: groove;
    border-color: darkgray;
}

#infoImg {
    width: 55vw;
    height: 60vh;
}

.moreInfo {
    position: absolute;
    left: 23vw;
    top: 77vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}