/*
 * Stroubles Creek Web Tour
 * Page component CSS source code
 *
 * Author: Katrina Kosmides, Matt Zambetti
 * Version: 1.0
 */

#infoTemplate {
    position: fixed;
    top: 10vh;
    left: 27.5vw;
    height: 80vh;
    width: 45vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-style: groove;
    border-color: darkgray;
}

#infoImg {
    width: 45vw;
    height: 50vh;
}

p {
    position: absolute;
    overflow-y: scroll;
    top: 54vh;
    height: 180px;
    padding-right: 10px;
}

.moreInfo {
    position: absolute;
    left: 18.5vw;
    top: 78vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imgBBtn {
    position: absolute;
    left: 2vh;
    top: 52vh;
    cursor: pointer;
}

.imgFBtn {
    position: absolute;
    left: 70vh;
    top: 52vh;
    cursor: pointer;
}

.exitMoreInfo {
    cursor: pointer;
}
